.main {
    min-height: 100vh;

    @include media($desktop) {
        position: absolute;
        width: 93vw;
        left: 7vw;
        overflow-y: scroll;
    }
}

.section {
  overflow: hidden;
  position: relative;
  padding: 2vh 10vw 4vh;

  .wrapper {
    max-width: 1600px;
    margin: 0 auto;
  }

    @for $i from 1 through length($section-background-colours) {

        $background-colour: nth($section-background-colours, $i);
        $text-colour: nth($section-text-colours, $i);
        $link-colour: nth($section-link-colours, $i);

        &:nth-of-type(#{$i}) {
            background: linear-gradient(to bottom, rgba($background-colour, 0.9) 0%, rgba($background-colour, 0.9) 100%);
            color: $text-colour;

            a {
                color: $link-colour;
            }

            h2 {
              // border-bottom: .2vw solid $text-colour;
            }
        }
    }

    &:before {
        content: '';
        min-height: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../images/bg.jpg') 0 0 / cover no-repeat;
        z-index: -1;
    }

    &:nth-of-type(even) {
        &:before {
            transform: scaleY(-1);
        }
    }

    @include media($desktop) {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding: 10vh 8vw 10vh calc(150px + 3vw);
        min-height: 100vh;

        &:nth-of-type(n+2) {
            min-height: 110vh;
            max-height: 9999em;
        }
    }
}
