// TODO refactor to not need this, rushing out release build
// Firefox hacks
.firefox {
  .lead-in {
    display: none !important;
  }
  @include media($desktop) {
    .menu-item {
      padding-top: 0.2rem !important;
      &:before {
        content: none !important;
      }
      &:after {
        content: none !important;
      }
      .link {
        &:after {
          width: 1rem !important;
          left: 1.26rem !important;
        }
      }
    }
  }
}
