//Font Families

$rodina : 'rodina', Tahoma, sans-serif;
$exolight : 'exolight', arial, sans-serif;
$exo: 'exoregular', arial, sans-serif;
$exobold: 'exobold', arial, sans-serif;



@font-face {
    font-family: 'rodina';
    src: url('../fonts/rodina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exolight';
    src: url('../fonts/exo-light-webfont.eot');
    src: url('../fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-light-webfont.woff') format('woff'),
         url('../fonts/exo-light-webfont.ttf') format('truetype'),
         url('../fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exodemibold';
    src: url('../fonts/exo-semibold-webfont.eot');
    src: url('../fonts/exo-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-semibold-webfont.woff') format('woff'),
         url('../fonts/exo-semibold-webfont.ttf') format('truetype'),
         url('../fonts/exo-semibold-webfont.svg#exodemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exobold';
    src: url('../fonts/exo-bold-webfont.eot');
    src: url('../fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-bold-webfont.woff') format('woff'),
         url('../fonts/exo-bold-webfont.ttf') format('truetype'),
         url('../fonts/exo-bold-webfont.svg#exobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
