.section.four {
  padding-bottom: 100px;
  .biog {
    @include span-columns(12);
    @include media($desktop) {
      @include span-columns(6);
    }
    line-height: 1.35;
    font-size: calc(16px + 0.10vw);
  }
  .profile {
    @include span-columns(12);
    @include media($desktop) {
      @include span-columns(5);
      @include shift(0.5);
      border: .2vw solid $spicy;
      padding: 1.5vw;
    }
    height: 100%;
    margin-top: 8.35vw;
    font-size: calc(16px + 0.10vw);
    position: relative;
    font-family: $exolight;

    h3 {
      padding-bottom: .5vw;
      margin-bottom: 0;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    > ul {
      @extend %reset-ul;
      padding-left: 1.4rem;

      strong {
        font-family: $exobold;
      }

      &+h3 {
        margin-top: 1rem;
      }

      li {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: .6rem;
          height: 0;
          width: 0;
          border-left: calc(10px + .1vw) solid $spicy;
          border-top: calc(6px + .1vw) solid transparent;
          border-bottom: calc(6px + .1vw) solid transparent;
          display: block;
          // background: $spicy;
          left: -1.4rem;
          // clip-path: polygon(18% 0, 0% 100%, 100% 100%);
        }

        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            &:before {
              transform: translateY(-50%) rotate(random(360) + deg);
            }
          }
        }
      }
    }
  }
  .contact {
    margin-top: 8.35vw;
    font-size: calc(16px + 0.10vw);

    @include media($desktop) {
      margin-top: 0;
    }

    h3 {
      margin: 0;
      padding-bottom: 0.5vw;
      margin-top: 2vw;
      padding-top: 1vw;
      @include media($desktop) {
        border-top: .2vw solid $spicy;
      }
    }

      .contact-options {
        padding-top: 8vw;
        @extend %reset-ul;

        @include media($desktop) {
          padding-top: 1vw;
        }

        a {
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
        }

        li {
          float: left;
          @include span-columns(4);
          text-align: center;
          position: relative;

          &:hover {
            svg {
              fill: $texasrose;
            }
            color: $texasrose;
          }

          span {
            z-index: 10;
            position: relative;
          }

          svg {
            position: relative;
            z-index: 10;
            transition: 0.2s ease-in-out all;
            fill: $sienna;
            width: 10vw;
            height: 10vw;
            @include media($desktop) {
              width: 4vw;
              height: 4vw;
            }
          }
        }
      }
  }
}
