.section.three {
  min-height: 110vh;
  @include media($desktop) {
    // max-height: 100vh;

    #art-app {
      // height: 60%;
    }
  }

  .pagination {
    display: flex;
    flex-direction: column;

    @include media($desktop) {
      max-width: 1600px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    .gallery__thumbnail {
      flex: 0 1 29%;
      padding: 1rem;

      svg {
        cursor: pointer;
      }

      &:nth-of-type(n+3) {
        margin-top: 1rem;
      }
    }
  }

  .gallery-container--active {
    animation: fadein 1s ease-out forwards;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $cinder;

    @include media($desktop) {
      padding-left: 150px;
    }

    >span {
      height: 100%;
    }
  }

  .artOverlay-leave {
    animation: slideout 2s ease-out forwards;
  }

  .gallery-view {
    // animation: fadein 2s ease-out forwards;
    padding: 0 2rem;
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: inherit;
    position: relative;

    .prev, .next {
      flex: 0.2 0 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .toggle {
      color: $spicy;
      width: 100%;
      text-align: center;
      cursor: pointer;

      span {
        transform: scaleY(1.5);
        display: block;
        font-size: 3.5rem;
        font-family: $exobold;
      }
    }

    .close-button {
      color: $spicy;
      font-family: $exobold;
      transform: scaleY(0.75);
      appearance: none;
      background: none;
      border: none;
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2.5rem;
      transition: 0.2s color ease-out;
      &:hover {
        color: $texasrose;
      }
      &:focus {
        outline: none;
        border: none;
      }
    }

    .featured-item {
      height: 100%;
      flex-basis: 50%;
      flex-grow: 0.8;

      > div {
        max-height: 100%;
        height: inherit;
      }

      .gallery__thumbnail > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

       img {
         max-height: 80%;
         max-width: 80%;
         display: block;
         margin: 0 auto;
       }

       .gallery__info {
         text-align: center;
         color: $texasrose;
         flex: 0 0;

         h2 {
           margin: 2rem 0 -0.2rem;
         }
       }
    }
  }
}
