.expand-button {
  background: rgba($tundora, 0.8);
  color: $texasrose;
  @include clearfix;
  border: 1px solid rgba($texasrose, 0.5);
  padding: 5px 15px 5px 10px;
  margin-top: 10px;
  font-size: 0.9rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.5s ease-out;

  svg {
    fill: $texasrose;
    max-width: 10px;
    transform: rotate(90deg);
    flex: 0 0 40px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 15px;
  }

  span {
    flex: 0 0 80%;
    white-space: nowrap;
    text-align: left;
  }

  &.expand-button--active {
    padding: 5px 20px 5px 10px;
    svg {
      transform: rotate(-90deg);
    }
  }

  &:focus {
    outline: none;
  }
}

.gallery-container--active {
  .gallery__info {
    .expand-button {
      svg {
        max-height: 10px;
        transform: none;
      }
    }
  }
}
