.section.one {
	font-size: calc(18px + 0.5vw);
	font-family: $exolight;
	padding: 6vh 8vw 4vh;

	.title {
		font-size: 35px;
		margin: 0;
	}

	@include media($tablet) {
		.title {
			font-size: calc(76px + 0.4vw);
		}
	}

	@include media($desktop) {
		font-size: 1.7vw;
		padding: 2.2vw 8vw 3vw calc(150px + 3vw);
		padding-top: 10%;
		padding-right: 32%;
		overflow: hidden;

		.title {
			font-size: 7vw;
			margin: 0;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 60%;
			right: -15%;
			width: 60%;
			height: 110%;
			background: url('../images/circle.svg') top 0 left 0 / contain no-repeat;
			transform: translateY(50%);
		}
	}

	.lead-in {
		width: 50px;
		height: 45px;
		font-size: 16px;
		color: $texasrose;
		font-family: $exo;
		text-decoration: none;
		position: relative;
		z-index: 999;
	    left: 19.5vw;
		display: none;
		text-align: center;
		background: $spicier;
		transition: 0.5s all ease-out;
		overflow: hidden;
		transform-origin: 0 80%;
		animation: jiggle 5s linear infinite;

		@include media($desktop) {
			margin-top: 5.5%;
	    padding-top: 1.2rem;
	    text-indent: .3rem;
			display: inline-block;
	    clip-path: polygon(100% 0, 0 0, 50% 100%);
	    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
			// height: 10vw;
			max-height: 150px;
			font-size: 1.3vw;
	    // width: 14vw;
			max-width: 180px;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			bottom: 5%;
		}

		@include media($desktoplarge) {
			font-size: 1.3rem;
		}


		&:before {
			content: '';
			position: absolute;
			display: block;
			top: -50%;
			width: 10vw;
			right: auto;
			bottom: -50%;
			left: -15vw;
		  background: linear-gradient(to right, rgba(229, 172, 142, 0), rgba(255,255,255,0.1) 50%, rgba(229, 172, 142, 0));
			transition: 0.5s all ease-out;
		}

		&:hover {
			color: transparent;
			animation: small 0.3s linear forwards;
			background: darken($spicier, 5%);

			&:before {
				left: 15vw;
			}
		}
	}
	@include media($desktoplarge) {
		font-size: 2rem;
	}
}

@keyframes small {
	from {
		transform: scale(1) translateX(-50%);
	}
	to {
		transform: scale(0.7) translateX(-50%);
	}
}

@keyframes jiggle {
	0% {
		transform: rotate(0deg) translateX(-50%);
	}
	75% {
		transform: rotate(0deg) translateX(-50%);
	}
	80% {
		transform: rotate(2deg) translateX(-50%);
	}
	85% {
		transform: rotate(-2deg) translateX(-50%);
	}
	90% {
		transform: rotate(2deg) translateX(-50%);
	}
	95% {
		transform: rotate(-2deg) translateX(-50%);
	}
	100% {
		transform: rotate(0deg) translateX(-50%);
	}
}
