.section.two {

}

.portfolio {
  font-size: calc(16px + 0.10vw);
  position: relative;
  transition: all 0.5s ease-out;
  transition-delay: 1s;
  padding-top: 2vw;

  @include media($desktop) {
    min-height: 50vh;
    height: 100%;
  }
  @include media($desktoplarge) {
    padding: 3vw 15%;
  }


  .project-image {
    width: 100%;
    // height: 100%;
    position: relative;

    @include media($desktop) {
      width: 50%;
      display: flex;
      float: none;
      margin-right: 0;
    }

    svg {
      width: 100%;
      height: 50vh;
      max-width: 450px;
    }
  }

  .project-info {
    @include media($desktop) {
      padding-top: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: none;
      margin-right: 0;
    }
    position: relative;
    padding-top: 1rem;

    h2 {
      padding-bottom: 0.5vw;
      margin-top: 0;
    }
    a {
      text-decoration: none;
    }
    h3 {
      margin-top: -.8rem;
      font-size: calc(16px + 0.10vw);
    }
    ul {
      padding-left: 1rem;
      li +li {
        margin-top: 1rem;
      }
    }


    .tag-list {
      padding-left: 0;
      margin-top: 5px;
      .tag {
        display: inline-block;
        border: 1px solid rgba($sienna, 0.4);
        padding: 5px 10px;
        font-size: 0.9rem;
        white-space: nowrap;
        margin-right: 10px;
        margin-top: 0.5rem;
      }
    }
  }

  .close-button {
    color: $spicy;
    font-family: $exobold;
    // transform: scaleY(0.75);
    appearance: none;
    background: none;
    border: none;
    position: absolute;
    top: -2rem;
    right: 0;
    font-size: 2.5rem;
    transition: 0.2s color ease-out;
    &:hover {
      color: $texasrose;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
}

.pagination {
  animation: fadein 2s ease forwards;
}

.detail {
  height: 100%;
  opacity: 1;
  transition: 0.2s opacity ease-out;
}

.detail-enter {
  animation: slidein 10s ease forwards;
}

.detail.detail-leave {
  max-height: 999em;
  animation: slideout 0.3s ease forwards;
  opacity: 0;
  .toggle {
    transition: 0.2s opacity ease-out;
    opacity: 0;
  }
}

.detail-leave.detail-leave-active {
  max-height: 0;
  transition: all 0.4s ease-out;
}

.slide {
  width: 100%;
  height: 100%;
  transition: margin 0.5s ease-out;
  display: flex;
  flex-direction: column;

  @include media($desktop) {
    flex-direction: row;
    justify-content: space-between;

    &:nth-of-type(even) {
      .project-image {
        order: 2;
      }
      .project-info {
        order: 1;
      }
    }
  }

  &:first-of-type{
    &.slide--active {
      margin: 0 0 2rem;
    }
  }

  &:last-of-type{
    &.slide--active {
      margin: 2rem 0 0;
    }
  }

  &.slide--active {
    margin: 2rem 0;
    transition: margin 0.3s ease-out;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
100% {
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    max-height: 999em;
  }
  to {
    max-height: 0;
  }
}

@keyframes slidein {
  from {
    max-height: 0;
  }
  to {
    max-height: 999em;
  }
}
