html, body {
	font-size: 100%;
	font-family: $exo;
	-webkit-font-smoothing: antialiased;
}

// Header Styles
h1, h2 {
	font-family: $rodina;
	margin-top: 1.5rem;
}

h3, h4, h5, h6 {
	font-family: $exo;
	font-weight: normal;
}

.section .header {
	> h2 {
		font-size: calc(16px + 3vw);
		margin-bottom: -0.3rem;
		// padding-bottom: .05rem;
    display: inline-block;
	}
	> h3 {
		margin-top: 0;
		font-size: calc(16px + 0.10vw);
		// padding-top: .25rem;
		display: inline-block;
	}
}

//
p.superscript {
	font-size: calc(10px + 0.3vw);
	line-height: .8rem;
	margin-top: -.3rem;
}
